<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Nepalyrics.Common\packages.config" />
  <repository path="..\src\Nepalyrics.Data.SqlServer\packages.config" />
  <repository path="..\src\Nepalyrics.Web.Api\packages.config" />
  <repository path="..\src\Nepalyrics.Web.Common\packages.config" />
</repositories>